@section=site guide
@heading=About the Site
@header

<!-- This file is preprocessed by cgi/html.cgi -->


<p>Hi There! This page should give more details about your Girocco
instance; here, you can substitute for configuration variables already:
e.g. @@webadmurl@@.</p>

<p>It would be nice if you left the following section at the bottom
of this file...</p>


<h2>About Girocco</h2>

<p><a href="https://repo.or.cz/girocco.git">Girocco</a> is a free
and reasonably easy-to-install Git hosting suite supporting multiple
operation modes; it has only essential features and is very UNIXy,
thus is fairly simple to understand. Its prime site is repo.or.cz
which provides free Git hosting services.
<a href="https://repo.or.cz/girocco.git/blob/HEAD:/README">(read more)</a></p>
