@section=site guide
@heading=Names
@header

<!-- This file is preprocessed by cgi/html.cgi -->

<p>If you&#x2019;ve arrived at this page you may have already encountered the
dreaded &#x201c;<tt>contains bad characters</tt>&#x201d; or the
&#x201c;<tt>Invalid project name</tt>&#x201d; or
&#x201c;<tt>Invalid user name</tt>&#x201d; error message.</p>

<p>Read on to see what&#x2019;s allowed in user names and project names.</p>

<h3 id="project">Project Names</h3>

<p>Project names (this includes fork names) must meet the following conditions:</p>

<ul>
<li>Project names must start with an alphanumeric character (the letters
<tt>A</tt>-<tt>Z</tt>, <tt>a</tt>-<tt>z</tt> and the digits <tt>0</tt>-<tt>9</tt>).</li>

<li>The following characters must be alphanumeric or one of <tt>+</tt>, <tt>-</tt>,
<tt>.</tt> or <tt>_</tt>.</li>

<li>The name must not end in <tt>.</tt>, <tt>.bundle</tt>, <tt>.git</tt> or <tt>.lock</tt>.</li>

<li>The name must not contain <tt>..</tt> anywhere.</li>

<li>It must not end in a reserved suffix (many common file type suffixes are reserved
such as <tt>.html</tt>, <tt>.png</tt> etc.)</li>

<li>It must not be a reserved name (there are only a very few of these, most of them
a single letter, so if a project name meets the above rules but was not allowed
it&#x2019;s because it&#x2019;s a reserved name).</li>
</ul>

<h3 id="user">User Names</h3>

<p>User names must meet the following conditions:</p>

<ul>
<li>User names must start with an alphanumeric character (the letters
<tt>A</tt>-<tt>Z</tt>, <tt>a</tt>-<tt>z</tt> and the digits <tt>0</tt>-<tt>9</tt>).</li>

<li>The following characters must be alphanumeric or one of <tt>+</tt>, <tt>-</tt>,
<tt>.</tt> or <tt>_</tt>.</li>

<li>The name must not start with <tt>mob.</tt> or <tt>mob_</tt>.</li>

<li>The name must not end in <tt>.</tt>, <tt>.bundle</tt>, <tt>.git</tt> or <tt>.lock</tt>.</li>

<li>The name must not contain <tt>..</tt> anywhere.</li>

<li>It must not end in a reserved suffix (many common file type suffixes are reserved
such as <tt>.html</tt>, <tt>.png</tt> etc.)</li>

<li>It must not be a reserved name (there are only a very few of these, so if
a user name meets the above rules but was not allowed it&#x2019;s because
it&#x2019;s a reserved name).</li>
</ul>
