/* Girocco-specific fragment of gitweb.css, appended at the end. */

sup.sup {
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	bottom: +1ex;
}
sup.sup > span:first-child {
	position: relative;
	font-size: smaller;
	top: +1pt;
}

sub.sub {
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	top: +1pt;
}
sub.sub > span:first-child {
	position: relative;
	font-size: smaller;
	top: +0.5ex;
}

div.readme {
	overflow: auto;
	max-height: 100em;
}

/* stopgap until the newer gitweb.css is picked up */
div.readme pre {
	overflow: auto;
}

table._markdown-table {
	margin-bottom: 0.5em;
}
table._markdown-table, table._markdown-table th, table._markdown-table td {
	border-collapse: collapse;
	border-spacing: 0;
	border: thin solid #ddd;
}
table._markdown-table tr._markdown-row-hdr {
	background-color: #fdfdfd;
}
table._markdown-table tr._markdown-row-hdr th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
table._markdown-table tr._markdown-row-even {
	background-color: #f4f4f4;
}

ol._markdown-ol {
	counter-reset: _markdown-item;
}
ol._markdown-ol[start="0"] {
	counter-reset: _markdown-item -1;
}
ol._markdown-ol[start="5"] {
	counter-reset: _markdown-item 4;
}
ol._markdown-ol[start="10"] {
	counter-reset: _markdown-item 9;
}
ol._markdown-ol > span._markdown-ol-incr {
	counter-increment: _markdown-item;
}
ol._markdown-ol > span._markdown-ol-incr-2 {
	counter-increment: _markdown-item 2;
}
ol._markdown-ol > span._markdown-ol-incr-5 {
	counter-increment: _markdown-item 5;
}
ol._markdown-ol > span._markdown-ol-incr-10 {
	counter-increment: _markdown-item 10;
}
ol._markdown-lc-greek, li._markdown-lc-greek {
	list-style-type: lower-greek;
}
ol._markdown-ol > li {
	counter-increment: _markdown-item;
}
ol._markdown-ol > li._markdown-li,
ol._markdown-ol > li._markdown-li-lc,
ol._markdown-ol > li._markdown-li-lc-greek,
ol._markdown-ol > li._markdown-li-uc {
	list-style-type: none;
	display: block;
}
ol._markdown-ol > li._markdown-li:before,
ol._markdown-ol > li._markdown-li-lc:before,
ol._markdown-ol > li._markdown-li-lc-greek:before,
ol._markdown-ol > li._markdown-li-uc:before {
	position: absolute;
	text-align: right;
	white-space: nowrap;
	margin-left: -9ex;
	width: 9ex;
}
ol._markdown-ol > li._markdown-li[type="1"]:before {
	content: counter(_markdown-item, decimal) ")\A0 \A0 ";
}
ol._markdown-ol > li._markdown-li-lc[type="i"]:before,
ol._markdown-ol > li._markdown-li-lc[type="I"]:before {
	content: counter(_markdown-item, lower-roman) ")\A0 \A0 ";
}
ol._markdown-ol > li._markdown-li-uc[type="I"]:before,
ol._markdown-ol > li._markdown-li-uc[type="i"]:before {
	content: counter(_markdown-item, upper-roman) ")\A0 \A0 ";
}
ol._markdown-ol > li._markdown-li-lc[type="a"]:before,
ol._markdown-ol > li._markdown-li-lc[type="A"]:before {
	content: counter(_markdown-item, lower-alpha) ")\A0 \A0 ";
}
ol._markdown-ol > li._markdown-li-lc-greek[type="a"]:before,
ol._markdown-ol > li._markdown-li-lc-greek[type="A"]:before {
	content: counter(_markdown-item, lower-greek) ")\A0 \A0 ";
}
ol._markdown-ol > li._markdown-li-uc[type="A"]:before,
ol._markdown-ol > li._markdown-li-uc[type="a"]:before {
	content: counter(_markdown-item, upper-alpha) ")\A0 \A0 ";
}

li._markdown-checkbox-on,
li._markdown-checkbox-off {
	list-style-type: none;
	display: block;
}
li._markdown-checkbox-on > span:first-child + span + span,
li._markdown-checkbox-off > span:first-child + span + span {
	position: absolute;
	clip: rect(0,0,0,0);
}
li._markdown-checkbox-on > span:first-child,
li._markdown-checkbox-off > span:first-child,
li._markdown-checkbox-on > span:first-child + span,
li._markdown-checkbox-off > span:first-child + span {
	display: block;
	position: absolute;
	margin-left: -3ex;
	width: 1em;
	height: 1em;
}
li._markdown-checkbox-on > span:first-child > span:first-child,
li._markdown-checkbox-off > span:first-child > span:first-child {
	display: block;
	position: absolute;
	left: 0.75pt; top: 0.75pt; right: 0.75pt; bottom: 0.75pt;
}
li._markdown-checkbox-on > span:first-child > span:first-child:before,
li._markdown-checkbox-off > span:first-child > span:first-child:before {
	display: inline-block;
	position: relative;
	right: 1pt;
	width: 100%;
	height: 100%;
	border: 1pt solid;
	content: "";
}
li._markdown-checkbox-on > span:first-child + span:before {
	position: relative;
	left: 2pt;
	bottom: 1pt;
	font-size: 125%;
	line-height: 80%;
	vertical-align: text-top;
	content: "\2713";
}
